*{
    margin: 0px;
    padding: 0px;
    text-align: center;
}

h1{
    background-color: brown;
    color: white;
    height: 5rem;
    line-height: 5rem;
}

.choice{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.choice:hover{
    cursor: pointer;
    background-color: black;
}

img{
    height: 145px;
    width: 145px;
    object-fit: cover; 
    border-radius: 50%;
}

.choices{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    margin-top: 5rem;
    
}

.score-board{
    margin-top: 3rem;
    margin-bottom: 3rem;
    display: flex;
    column-gap: 5rem;
    justify-content: center;
    font-size: 2rem;
}

#comp-score, #user-score{
    font-size: 3rem;
}

#message{
    background-color: black;
    font-size: 2rem;
    color: white;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}

#message-user-win{
    background-color: green;
    font-size: 2rem;
    color: white;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}

#message-comp-win{
    background-color: red;
    font-size: 2rem;
    color: white;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}
